#zotsu-app {
  position: fixed;
  z-index: 99999;
}

.app-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(3px 3px 13px rgba(0, 0, 0, 0.7));
}
